<%= form_with(url: post_replies_path, local: true) do |form| %>
  <% if reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if params[:reply].nil? %>
	  <% @title = getParentPostTitle(params[:post_id]) %>
  <% else %>
	  <% @title = getParentReplyTitle(params[:reply]) %>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :reply_title, :value => @title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :reply_body %>
  </div>

  <div class="field">          
    <%= hidden_field_tag :post_id, params[:post_id] %>
    <%= form.hidden_field :post_id, :value => params[:post_id] %>
  </div>
<div class="field">          
    <%= hidden_field_tag :reply_id, params[:reply] %>
    <%= form.hidden_field :reply_id, :value => params[:reply] %>
</div>
<div class="field">          
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

<div class="field">
    <input type="checkbox" name="anonymous" id="reply_anonymous" value="true"> Post as Anonymous<br>

  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<script>
      ClassicEditor
          .create( document.querySelector( '#reply_body' ) )
          .catch( error => {
              console.error( error );
          } );
  </script>

<% end %>
