<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @reply.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @reply.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @reply.user %>
</p>

<p>
  <strong>Reply:</strong>
  <%= @reply.reply %>
</p>

<%= link_to 'Edit', edit_post_reply_path(@reply) %> |
<%= link_to 'Back', post_replies_path %>
