<p id="notice"><%= notice %></p>
<br>
<h3>Post</h3>
  <div style="background-color: silver; width:800px;">
	  <h3>RE: <%= @post.title %></h3>
  </div>
  <div style="display: inline-block; padding:5px; margin:5px; border:1px silver solid; max-width: 20%;">
    <% if @post.anonymous %>
	    <p>Anonymous</p>
    <% else %>
	    <p><%= link_to @post.user.firstname + " " + @post.user.surname, @post.user %></p>
    <%= image_for(@post.user, :medium) %>
	  <p>Date Joined: <%= @post.user.created_at.strftime("%m/%d/%y") %></p>
	  <p>Threads Created: <%= @post.user.posts.count %></p>
    <% end %>
  </div>
  <div style="display: inline-block; padding:5px; margin:5px; border:1px silver solid; width: 50%; vertical-align: top;">
	  <p><%= @post.created_at.strftime("%m/%d/%y %H:%M") %></p>
	  <p><%=raw @post.body %></p>
	  <p><%= link_to 'Reply To Thread', new_post_reply_path(@post.id) %> |
<% if @post.user != nil %>
  <% if current_user.id == @post.user.id %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>
<% end %>
<%= link_to 'Back', posts_path %></p>

  </div>
  <% readPost(@post, current_user.id) %>

<br>
<br>
<h3>Replies</h3>
<% @post.replies.each do |reply| %>
	<% if(reply.reply_id.nil?) %>
<div style="background-color: silver; width:800px;">
	  <h3>RE: <%= reply.title %></h3>
  </div>
  <div style="display: inline-block; padding:5px; margin:5px; border:1px silver solid; max-width: 20%;">
    <% if reply.anonymous %>
	    <p>Anonymous</p>
    <% else %>
	    <p><%= link_to reply.user.firstname + " " + reply.user.surname , reply.user%></p>
    <%= image_for(reply.user, :medium) %>
	  <p>Date Joined: <%= reply.user.created_at.strftime("%m/%d/%y") %></p>
	  <p>Threads Created: <%= reply.user.posts.count %></p>
    <% end %>
  </div>
  <div style="display: inline-block; padding:5px; margin:5px; border:1px silver solid; width: 50%; vertical-align: top;">
	  <p><%= reply.created_at.strftime("%m/%d/%y %H:%M") %></p>
	  <p><%=raw reply.body %></p>
	  <p><%= link_to 'Reply To Reply', new_post_reply_path(reply.post_id, reply: reply.id) %></p>
  </div>

  <div class="replies">
    <% subReplies = getReplies(reply) %>
    <% clearVars %>
    <% subReplies.each do |subReply| %>
      <% subPost = subReply[0] %>
      <% indent = subReply[1] %>
<div style="background-color: silver; width:800px; margin-left: <%= " #{indent * 50}px" %>">
	  <h3>RE: <%= subPost.title %></h3>
  </div>
  <div style="display: inline-block; padding:5px; margin:5px; border:1px silver solid; max-width: 20%; margin-left: <%= " #{indent * 50}px" %>">
    <% if subPost.anonymous %>
	    <p>Anonymous</p>
    <% else %>
	    <p><%= link_to subPost.user.firstname + " " + subPost.user.surname, subPost.user %></p>
    <%= image_for(subPost.user, :medium) %>
	  <p>Date Joined: <%= subPost.user.created_at.strftime("%m/%d/%y") %></p>
	  <p>Threads Created: <%= subPost.user.posts.count %></p>
    <% end %>
  </div>
  <div style="display: inline-block; padding:5px; margin:5px; border:1px silver solid; width: 50%; vertical-align: top;">
	  <p><%= subPost.created_at.strftime("%m/%d/%y %H:%M") %></p>
	  <p><%=raw subPost.body %></p>
	  <p><%= link_to 'Reply To Reply', new_post_reply_path(subPost.post_id, reply: subPost.id) %></p>

  </div>

    <% end %>
  </div> 
  <% end %>
<% end %>
